
@{
    ViewBag.Title = "AddCustomer";
}

<h2 style="color: white">Müşteri Ekleme / Add Customer</h2>

<form method="post">
    <div>
        <label style="color: white">Müşteri Adı / Customer Name</label>
        <input type="text" name="fname" class="form-control" />
    </div>

    <div>
        <label style="color: white">Müşteri Soyadı / Customer Surname</label>
        <input type="text" name="lname" class="form-control" />
    </div>

    <div>
        <label style="color: white">E-Posta </label>
        <input type="text" name="email" class="form-control" />
    </div>

    <div>
        <label style="color: white">Telefon Numarası / Phone Number</label>
        <input type="text" name="phone_number" class="form-control" />
    </div>

    <div>
        <label style="color: white">Parola / Password</label>
        <input type="text" name="pword" class="form-control" />
    </div>

    <div>
        <br />
        <button id="uyari" class="btn btn-info">Müşteri Ekle / Add Customer</button>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
        <script>
            
            $(function(){

                $("#uyari").on('click',function(){
                    window.alert("Müşteri Veri Tabanına Başarıyla Eklendi");
                });
            });
        </script>
    </div>


</form>

