<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Otopark Yönetimi </title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Views/Customer/Index.cshtml" />
    <link rel="stylesheet" href="~/Content/Style.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="margin:0; padding:0; background-image: src(" otopark2.jpg")">

    <div class="Menu-bar" style="background-color:darkslategrey; margin:0px; padding:0px">
        <h1 style="color:white; border-bottom:dashed">Otopark Yönetim Sitesi</h1>
        <ul>
            <li><a href="https://localhost:44366/Customer/Index"><i class="fas fa-house-user"></i> <b>Müşteri Listeleme / Customer List</b></a></li>
            <li><a href="https://localhost:44366/Car/CarList"><i class="fas fa-car"></i><b>Araç Listeleme / Car List </b></a></li>
            <li><a href="https://localhost:44366/Park/Index"><i class="fas fa-parking"></i><b> Otopark Durumu / Parking Situation</b></a></li>
            <li id="li1">
                <a id="a1" href="#"><i class="fas fa-phone"></i><b>İletişim / Communication</b></a>
                <div class="sub-menu-2" style="background-color:black; border-radius: 10px">
                    <ul id="iletisim" style="background-color:black">
                        <li style="color: white">Turgut Efe AKŞİT = 05** *** ** **</li>
                        <li style="color: white">Yiğit Emir SANURA = 05** *** ** ** </li>
                    </ul>
                </div>
            </li>
            <li id="li2">
                <a id="a2" href="#"><i class="fab fa-instagram"></i><b> Sosyal Medya / Social Media</b></a>
                <div class="sub-menu-1" style="background-color: black; border-radius: 10px">
                    <ul id="sosyalm" style="background-color:black">
                        <li><a href="https://www.instagram.com/tur.unki/" target="_blank">Turgut Efe AKŞİT</a></li>
                        <li><a href="https://www.instagram.com/yigitemirsanura/" target="_blank">Yiğit Emir SANURA</a></li>
                    </ul>
                </div>
            </li>
            <li id="uyari"><a href="https://localhost:44366/Security/Login" style="font-size:large"><i class="fas fa-sign-in-alt"></i><b>Çıkış Yap / Log out</b></a></li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("#uyari").on('click', function () {
                window.alert("Sistemden Başarıyla Çıkış Yaptınız");
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#li1").hover(function () {
                $("#iletisim").slideToggle(1000);
            });
            $("#li2").hover(function () {
                $("#sosyalm").slideToggle(1000);
            });
        });
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color: white"> @DateTime.Now.Year - Bize Ulaşın 0555 845 26 74</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>