@model MVCTrainProject.Models.registration_date
@{
    ViewBag.Title = "AddCustomer";
}

<head>
    <script>

        function Alert() {

            alert( "Kayıt Başarıyla Eklendi");

        }
    </script>
</head>
<body>
<h2 style="color:white">ADD PARK REGISTRATION / OTOPARK KAYDI OLUŞTURMA</h2>
<form method="post">

    @*@Html.DropDownListFor(c => c.CarEnum, (List<SelectListItem>)ViewBag.vl1, new { @class = "form-control" });

        @Html.DropDownListFor(c => c.ParkEnum, (List<SelectListItem>)ViewBag.vl2, new { @class = "form-control" });*@


    @Html.DropDownList("car_id", null, htmlAttributes: new { @class = "form-control" })

    @Html.DropDownList("loc_number", null, htmlAttributes: new { @class = "form-control" })



    @*@Html.DropDownList("loc_number", null, htmlAttributes: new { @class = "form-control" })*@


    <br />
    <button class="btn btn-info" onclick="Alert()">Kayıt Ekle / Add Registration</button>

    
</form>
</body>
